.education-card {
    background: rgba(0, 26, 8, 1);
    border-radius: 0.65rem;
    border: 1.5px solid #32a854;
    padding: 1.5rem;
    margin: 0 1rem;
    min-height: 19rem;
}

.education-card h6 {
    font-size: 1.05rem;
    font-weight: 500;
    margin-bottom: 0.7rem;
}

.education-duration {
    display: inline-block;
    font-size: 0.7rem;
    font-weight: 400;
    background: linear-gradient(180deg, #32a854 0%, #9dbd29 100%);
    border-radius: 0.3rem;
    padding: 0.4rem 0.6rem;
    margin-bottom: 1.3rem;
    cursor: pointer;
}

.education-card ul li {
    list-style: none;
    font-size: 0.8rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
    position: relative;
}

.education-card ul li::after {
    content: " ";
    width: 0.5rem;
    height: 0.5rem;
    background-color: #32a854;
    border-radius: 0.5rem;
    position: absolute;
    left: -1.3rem;
    top: 0.35rem;
}

@media (max-width: 768px) {
    .education-card {
        margin: 0;
    }
    .education-card h6 {
        font-size: 0.95rem;
    }
    .education-card ul li {
        font-size: 0.75rem;
    }
}

@media (max-width: 600px) {
    .education-card {
        min-height: 23rem;
    }
}