.skills-info-card {
    min-height: 35rem;
    border-radius: 0.65rem;
    border: 1.5px solid var(--color-primary);
    background: rgba(0, 26, 8, 0.8);
    backdrop-filter: blur(1rem);
    flex: 1;
}

.skills-info-card h5 {
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0.8rem 2rem;
    background: var(--color-gradient-green-180);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom: 1.5px solid var(--color-primary);
    margin-bottom: 0;
}

.skills-info-content {
    padding: 2rem;
}

.skills-subtitle {
    margin-bottom: 1rem;
    font-weight: 600;
}

.skills-subtitle > h6 {
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--color-white);
}

.skill-item {
    margin-bottom: 2rem;
}

.skills-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.skills-info p {
    font-size: 1rem;
    font-weight: 500;
}

.skill-info .percentage {
    color: var(--color-secandary);
}

.skill-progress-bg {
    width: 100%;
    height: 0.5rem;
    background: var(--color-dark);
    border-radius: 1rem 0;
    overflow: hidden;
}

.skill-progress {
    width: 0%;
    height: 0.5rem;
    background: var(--color-gradient-green-90);
    border-radius: 0.5rem;
    transition: all 0.5s ease-in-out;
}

@media (max-width: 1025px) {
    .skills-info-card h5 {
        font-size: 1.1rem;
    }
    .skill-info p {
        font-size: 0.9rem;
    }
    .skills-info-content {
        padding: 1.5rem;
    }
}