@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  --color-black-transponent: rgba(0, 0, 0, 0.35);
  --color-white: #fff;
  --color-black: #000;
  --color-primary: #32a854;
  --color-secandary: #9dbd29;
  --color-primary-darken: #257a3d;
  --color-orange: #e88e08;
  --color-yellow: #f5f109;
  --color-dark: rgba(0, 26, 8, 0.8);
  --color-dark-non-transponent: rgba(0, 26, 8, 1);
  --shadow-primary: 3px 4px 9px 1px rgba(3, 31, 8, 1);

  --color-gradient-green-90: linear-gradient(90deg, var(--color-primary) 0%, var(--color-secandary) 100%);
  --color-gradient-green-180: linear-gradient(180deg, var(--color-primary) 0%, var(--color-secandary) 100%);
  --color-gradient-yellow-90: linear-gradient(90deg, var(--color-orange) 0%, var(--color-yellow) 100%);
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
  background-color: #021205;
}